<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/icons-bootstrap/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand">
            <i class="bi bi-braces-asterisk"></i>BlogApp
            </a>
        </div>
    </nav>
    <div class="container">
    @RenderBody()
    </div>
</body>
</html>