@model Ogrenci

<p>
    <b>@Model.OgrenciAd @Model.OgrenciSoyad</b> isimli öğrenciyi silmek istediğine emin misin ?

    <form asp-action="Delete" method="post">
        <input type="hidden" value="@Model.OgrenciId" name="id">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="index" class="btn btn-success">Hayır</a>
    </form>
</p>